<div class="container">
    <div class="titulo-ventas">
        <h1>Lista de Vacunas de Mascotas</h1>
    </div>
    <div style="display: flex; align-items: center; gap: 24px;">
        <mat-form-field appearance="outline" style="width: 220px;">
            <mat-label>Filtrar por Nombre</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese Nombre">
        </mat-form-field>
        <div class="contador">
            <span>Total de registros:</span>
            <span class="contador-numero">{{ dataSource.data.length }}</span>
        </div>
    </div>
    <div>
        <ng-container *ngIf="dataSource.data.length === 0; else tableContent">
            <div
                style="text-align:center; margin: 32px 0; color: #1c3c5b; font-size: 1.3rem; background: #fff; border-radius: 8px; padding: 24px;">
                No hay datos para listar la tabla
            </div>
        </ng-container>
        <ng-template #tableContent>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- ID Column -->
                <ng-container matColumnDef="c1">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.idVaccinePet}} </td>
                </ng-container>

                <!-- Fecha de aplicación Column -->
                <ng-container matColumnDef="c2">
                    <th mat-header-cell *matHeaderCellDef> Fecha de aplicación </th>
                    <td mat-cell *matCellDef="let element"> {{element.dateApplication}} </td>
                </ng-container>

                <!-- Nombre de la Vacuna Column -->
                <ng-container matColumnDef="c3">
                    <th mat-header-cell *matHeaderCellDef> Nombre de la Vacuna </th>
                    <td mat-cell *matCellDef="let element"> {{element.nameVaccine}} </td>
                </ng-container>

                <!-- Nombre de la Mascota Column -->
                <ng-container matColumnDef="c4">
                    <th mat-header-cell *matHeaderCellDef> Nombre de la Mascota </th>
                    <td mat-cell *matCellDef="let element"> {{element.namePet}} </td>
                </ng-container>

                <!-- Acciones Column -->
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Opciones </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon style="cursor: pointer; color: red;"
                            (click)="eliminar(element.idVaccinePet)">delete</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </ng-template>
        <div class="paginator-container">
            <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="[4, 8, 10]"
                showFirstLastButtons aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>