<div class="card-container">
    <h1>Registro de Refugios</h1>

    <form [formGroup]="form" (submit)="aceptar()">

        <mat-form-field class="example-full-width">
            <mat-label>Nombre refugio</mat-label>
            <input matInput placeholder="Ej. HappyPaws" formControlName="hname">
            <mat-error *ngIf="form.get('hname')?.hasError('required')">
                El nombre es obligatorio.
            </mat-error>
            <mat-error *ngIf="form.get('hname')?.hasError('minlength')">
                El nombre debe tener al menos 4 caracteres.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Telefono refugio</mat-label>
            <input matInput placeholder="Ej. 951381163" formControlName="hnumber">
            <mat-error *ngIf="form.get('hnumber')?.hasError('required')">
                El teléfono es obligatorio.
            </mat-error>
            <mat-error *ngIf="form.get('hnumber')?.hasError('minlength')">
                El teléfono debe tener 9 caracteres y deben ser números.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput placeholder="Ej. ejemplo@correo.com" formControlName="hemail">
            <mat-error *ngIf="form.get('hemail')?.hasError('required')">
                El correo electrónico es obligatorio.
            </mat-error>
            <mat-error *ngIf="form.get('hemail')?.hasError('email')">
                El correo electrónico debe ser válido y mayor a 11 caracteres.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Direccion cliente</mat-label>
            <input matInput placeholder="Ej. Av. Siempre Viva 742" formControlName="hadress">
            <mat-error *ngIf="form.get('hadress')?.hasError('required')">
                La dirección es obligatoria.
            </mat-error>
            <mat-error *ngIf="form.get('hadress')?.hasError('minlength')">
                La dirección debe tener al menos 11 caracteres.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Fecha de Apertura</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Ej. 27-04-2024" formControlName="hopeningDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('hopeningDate')?.hasError('required')">
                La fecha es obligatoria.
            </mat-error>
            <mat-error *ngIf="form.get('hopeningDate')?.hasError('fechaMenorHoy')">
                La fecha no puede ser mayor a hoy.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Capacidad Maxima</mat-label>
            <input matInput type="number" placeholder="Ej. 20" formControlName="hability">
            <mat-error *ngIf="form.get('hability')?.hasError('required')">
                La cantidad es obligatoria.
            </mat-error>
            <mat-error *ngIf="form.get('hability')?.hasError('min')">
                La cantidad debe ser mayor o igual a 0.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Usuario</mat-label>
            <mat-select formControlName="hidUser">
                <mat-option *ngFor="let us of users" [value]="us.id">{{us.username}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('hidUser')?.hasError('required')">
                Seleccione un usuario.
            </mat-error>
        </mat-form-field>

        <div style="margin-top: 8px;">
            <button mat-raised-button type="submit" color="primary" class="registrar-btn">Registrar</button>
        </div>
        <div style="margin-top: 8px;">
            <button mat-raised-button type="button" color="warn" class="cancelar-btn" (click)="cancelar()">Cancelar</button>
        </div>
    </form>
</div>