<div class="card-container">
    <h1>Registro de Razas</h1>
    
    <form [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width">
            <mat-label>Nombre de la raza</mat-label>
            <input matInput placeholder="Ej. Labrador" formControlName="hname">
            <mat-error *ngIf="form.get('hname')?.hasError('required')">
                El nombre de la raza es obligatorio.
            </mat-error>
            <mat-error *ngIf="form.get('hname')?.hasError('minlength')">
                El nombre de la raza debe tener al menos 4 caracteres.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Tipo de especie</mat-label>
            <mat-select formControlName="hspecies">
                @for (food of listspecies; track food) {
                    <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
                }
            </mat-select>
            <mat-error *ngIf="form.get('hspecies')?.hasError('required')">
                Seleccione una especie.
            </mat-error>
        </mat-form-field>

        <div style="margin-top: 8px;">
            <button mat-raised-button type="submit" color="primary" class="registrar-btn">Registrar</button>
        </div>
        <div style="margin-top: 8px;">
            <button mat-raised-button type="button" color="warn" class="cancelar-btn" (click)="cancelar()">Cancelar</button>
        </div>
    </form>
</div>