.main-bg {
  min-height: 100vh;
  background-color: #E9F3EF;
  padding-top: 55px;
}

.custom-toolbar {
  background: #1c3c5b;
  color: #fff;
  height: 110px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: center;
}

.custom-toolbar .mat-icon {
  color: #fff !important;
  font-size: 32px !important;
  width: 32px;
  height: 32px;
  stroke-width: 2px;
}

.custom-toolbar > * {
  display: flex;
  align-items: center;
}

.custom-toolbar .mat-icon-button {
  margin-right: 20px;
}

.custom-toolbar span {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: auto;
  font-family: 'Times New Roman', serif;
}

.main-menu-icon {
  color: #AF194A !important;
}

.menu-title {
  color: #AF194A;
  font-family: 'Times New Roman', Times, serif;
}

.submenu-icon {
  color: #AF194A !important;
}

.submenu-title {
  color: #AF194A;
  font-family: 'Times New Roman', Times, serif;
}

::ng-deep .main-menu {
  margin-top: 35px !important;
}

.logo-img {
  height: 65px;
  margin-left: 10px;
  margin-right: 8px;
  vertical-align: middle;
}

.footer {
  background-color: #1c3c5b;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0;
  width: 100%;
}

.footer-section {
  flex: 1;
  padding: 10px;
  text-align: left;
  font-family: 'Times New Roman', serif;
  text-align: center;
}

.footer-logo {
  width: 165px;
  height: middle;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', serif;
  text-align: center;
}

.footer-links li {
  margin: 5px 0;
}

.footer-links a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  font-family: 'Times New Roman', serif;
}

.footer-bottom p {
  margin: 0;
  font-size: 13px;
}

.footer-section h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section .footer-links {
  font-size: 12px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }

  .social-icons {
    justify-content: center;
  }
}