.formulario {
  margin: 2rem auto;
  max-width: 500px;
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.formulario form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formulario input, .formulario select, .formulario button {
  padding: 10px;
  font-size: 1rem;
}

.formulario button {
  background-color: #f49f1c;
  color: white;
  border: none;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #db8c0c;
}
